@cover: @pad*5;
@height: @pad*11;
.results-title {
	color: rgba(255,255,255,.6);
	margin: 0;
	line-height: 1.2em;
	font-weight: normal;
	padding: @pad @pad*2;
	background-color: rgba(255,255,255,.1);
	span {
		color: #fff;
	}
}
.results-header {
	padding: @pad;
	text-align: center;
	background-color: rgba(255,255,255,.2);
	color: #fff;
}
.wrapper {
	padding: @pad;
	overflow: hidden;
	margin: 0 auto;
	max-width: 480px;
}

.card {
	border-radius: @pad/5;
	padding: @pad;
	margin: @pad 0;
	background: linear-gradient(135deg, #fff, @palette-Blue-Grey-50);
	transition: all 200ms;
	&.opened {
		box-shadow: 0 0 @pad rgba(0,0,0,.4);
	}
}


.ticket {
	will-change: transform;
	transform: translateX(0);
	color: @palette-Blue-Grey-600;
	opacity: .8;
	position: relative;
	&.translated {
		opacity: 0;
		transform: translateX(100%);
	}
	.additional-data {
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition: 200ms all;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		> *:first-child {
			padding-top: @pad;
		}
	}
	&.opened {
		opacity: 1;
		.additional-data {
			opacity: 1;
			height: @height;
		}
	}

	.btn-bar {
		border-top: 1px dotted rgba(0,0,0,.1);
		padding-top: @pad;
		display: flex;
		justify-content: space-between;
	}
	.background {
		background-size: cover;
	}
}

.flight-info {
	display: flex;
}
.flight-number {
	background-color: @palette-Blue-Grey-50;
	padding: @pad/4 @pad/2;
	border-radius: 3px;
	box-shadow: inset 0 0 1px rgba(0,0,0,.2);
	width: auto;
}


.preview-data {
	position: relative;
}

.ticket-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: @pad/2;
	.hamburger {
		flex-shrink: 0;
		margin-right: @pad;
	}
	.title {
		font-size: 1.4em;
		color: @palette-Purple-900;
		white-space: nowrap;
		margin-top: -@pad/5;
		margin-left: 0;
		margin-right: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: all 300ms;
	}
	.price {
		margin-top: -@pad/5;
		white-space: nowrap;
		margin-left: @pad;
		color: #fff;
		background-color: @palette-Green-300;
		background: linear-gradient(to right, @palette-Green-300, @palette-Green-500);
		padding: @pad/4 @pad/2;
		margin-right: -@pad;
		border-radius: 2px 0 0 2px;
		span {
			opacity: .5;
		}
	}
}
.ticket-subheader {
	display: flex;
	color: @palette-Blue-Grey-500;
	justify-content: space-between;
}

.hamburger {
	display: none;
	width: @pad*2;
	transition: all 200ms;
	span {
		display: block;
		height: 2px;
		width: 23px;
		transition: all 200ms;
		background-color: @palette-Blue-Grey-100;
		margin: 6px auto;
	}
}

.opened {
	.title {
		// transform: translateX(-@pad*2);
	}
	.hamburger {
		transform: scale(0);
		opacity: 0;
		span {
			&:nth-child(1) {
				transform: rotate(45deg);
				transform-origin: 0% 50%;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform-origin: 0% 50%;
				transform: rotate(-45deg);
			}
		}
	}
}

.concert-info {
	display: flex;
	align-items: center;
}
.artist-cover {
	width: @cover;
	height: @cover;
	flex-shrink: 0;
	margin-right: @pad;
	border-radius: 4px;
	// border-radius: 50%;
	background-size: cover;
	background-position: 50%;
	position: relative;
	// &::after,
	&::before {
		content: '';
		display: block;
		position: relative;
		border-radius: inherit;
		width: 100%;
		opacity: .7;
		left: 0;
		top: 0;
		height: 100%;
		z-index: -1;
		background-image: linear-gradient(to right, @palette-Orange-500,@palette-Orange-300);
	}
	&::after {

	}
}
.consert-name {
	font-size: 1.2em;
}

.consert-date {
	display: flex;
	font-size: .8em;
	padding-top: @pad/2;
	span {
		margin-right: @pad;
		display: block;
		&:first-child {
			color: @palette-Blue-Grey-200;
		}
	}
}


.sorting {
	color: #fff;
	margin-bottom: -@pad;
	padding-top: @pad/2;
	padding-left: @pad;
	display: flex;
	align-items: center;
	> span {
		margin-right: @pad*0.85;
	}
	&-by {
		opacity: .5;
	}
	&-button {
		display: block;
		padding: @pad/5 @pad/2;
		border-radius: 4px;
		border: 1px solid rgba(255,255,255,.6);
		opacity: .8;
		transition: all 100ms;
		&--chosen {
			opacity: .9;
			background-color: #fff;
			color: @palette-Blue-500;
		}
		&.loading {

			animation: Pulse 3s linear infinite;
		}
	}
}
